@import "../styles/variables.scss";

.navbar {
  // display: flex;
  // align-items: center;
  // font-size: 20px;
  // background: $white;

  li:not(:last-child) {
    float: left;
    // padding-left: 1rem;
    // padding-right: 1rem;
  }

  li {
    padding: 0.5rem;
  }
}
