.banner {
  height: 800px;
}

.uk-banner {
  background-image: url("../public/images/uk/banner.jpeg");
}

.us-banner {
  background-image: url("../public/images/us/banner1.jpeg");
}

@media screen and (max-width: 1500px) {
  .banner {
    height: 600px;
  }
}
